<div class="container-fluid mb-5">
  <h2> Registration Form </h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationform">

    {{registrationform.value | json}}
    
    <div class="form-group">

      <label> First Name: </label>
      <input [class.is-invalid]="registrationform.get('firstName').invalid && registrationform.get('firstName').touched" 
      id="firstName" type="text" class="form-control" formControlName="firstName">
      <small [class.d-none]="registrationform.get('firstName').valid || registrationform.get('firstName').untouched"
      class="text-danger">First Name is required</small>
    </div>

    <div class="form-group">
      <label> Last Name: </label>
      <input [class.is-invalid]="registrationform.get('lastName').invalid && registrationform.get('lastName').touched"
      id="lastName" type="text" class="form-control" formControlName="lastName">
      <small class="text-danger">Last Name is required</small>
    </div>

    <div class="form-group">
      <label> Phone Number: </label>
      <input [class.is-invalid]="phoneNumber.invalid && phoneNumber.touched"
      id="phoneNumber" type="tel" class="form-control" formControlName="phoneNumber">
      <div *ngIf="phoneNumber.invalid && phoneNumber.touched">
        <small *ngIf="phoneNumber.errors.required" 
        class="text-danger">Phone number is required</small>
        <small *ngIf="phoneNumber.errors.pattern"
        class="text-danger">Phone number must be 10 digits</small
          >
      </div>
    </div>

    <div class="form-group">
      <select class="custom-select" id="trainer" formControlName="trainer">
          <option value="none">-no trainer-
              <option *ngFor="let trainer of trainers">{{ trainer }}
          </option>
      </select>
    </div>

    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
          <input type="radio" class="form-control" 
          name="timePreference" value="morning" formControlName="timePreference">
          <label class="form-check-label">Morning 8am-10am</label>
      </div>
      <div class="form-check">
          <input type="radio" class="form-control" 
          name="timePreference" value="evening" formControlName="timePreference">
          <label class="form-check-label">Evening 5pm-10pm</label>
      </div>
    </div>

    <div formGroupName="measurements">

      <div>
        <label>Chest</label>
        <input type="number" class="form-control" formControlName="chest">
      </div>

      <div>
        <label>Waist</label>
        <input type="number" class="form-control" formControlName="waist">
      </div>

      <div>
        <label>Thigh</label>
        <input type="number" class="form-control" formControlName="thigh">
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>

  </form>
</div>